body{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    background-color:rgb(242, 235, 220);
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1.5px;
}

figure{
    margin-left: 0%;
}

 .profile-pic-fig{
    width: 40%
 }
 .profile-pic-fig img{    
    width : 40%;
    height : auto;
    min-width: 100px;
    border: 0cap dotted black;
    border-radius: 50%;
}

h2{
    letter-spacing: 1.75rem;
    font-weight: bolder;
}

p{
    text-align: justify;
    line-height: 2rem;
}

.academic-icon {
    margin-left: 0%;
    height: 50%;

}